<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>blog_preview</title>
</head>
<body>
    <h1> Blog Home</h1>
    <form action="" method="post">
        {% csrf_token %}
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="name" value="{{ current_name }}">
    <input type="submit" value="submit">
    </form>
    {% if name %}
    <h1>{{name}}</h1>
    {% endif %}
</body>
</html>
